body{
    text-align: center;
}

.grid-container{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
}
.grid-container div{
    box-sizing: border-box;
    border: 1px solid black;
    flex: 1;
    aspect-ratio: 1/ 1;
    margin: 0px;
}

button{
    margin-bottom: 15px;
    margin-top: 15px;
}